$color-primary: #3e6d8d;

// Header/Nav
$title-muted: #ccc;
$header-background: #333;

// Title
$color-title: $color-primary;
$encounter-title: #8c5f4c;

// End
$dark-bg: #000;

// Stats
$stats-border: #eee;
$progress-bg-color: #eee;
$progress-main-color: #3c998c;
$damage-color: #cc3c3b;

// Text
$text-brightest: #fff;
$text-bright: #eee;

// Link
// $link-base: #1eaedb; // Skeleton
// $link-hover: #0fa0ce;

$link-base: $color-primary;
$link-hover: #68b8ed;

// Book
$book-page-color: #ccb897;

$color-cost: $progress-main-color;
