@import 'normalize.css';
@import 'skeleton.css';
@import 'effects.scss';
@import './colors.scss';

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 0;
  background-color: $header-background;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;

  > h1,
  h1 a,
  h1 a:hover {
    color: $title-muted;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-left: 1vw;
    letter-spacing: normal;
    opacity: 0.4;
    align-self: center;
    text-decoration: none;
  }

  nav {
    margin-right: 1vw;
    align-self: center;
  }

  a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 0.9em;
    color: $link-base;

    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
  }

  margin-bottom: 2vh;
}

button {
  &:hover {
    background-color: $link-base;
    color: white;

    transition: background-color 0.2s;
  }
}

.buyMeACoffee {
  height: 29px !important;
  width: 125px !important;
  box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
}

.hidden {
  display: none;
}

.cost {
  color: $color-cost;
}
