.weapon__outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.weapon__inner {
  display: table-cell;
  vertical-align: middle;
}

.weapon__content {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;

  .weapon__description {
    margin-bottom: 2vh;
  }

  .weapon__options {
    margin-top: 2vh;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* Larger than mobile */
    @media (min-width: 400px) {
      button {
        width: 100%;
      }
    }
    @media (min-width: 750px) {
      button {
        width: 49%;
        // margin-right: 2vw;
        // margin: 0 1vw;
      }
    }
  }
}
