.encounter {
  margin-bottom: 20vh;

  .encounter__image {
    position: relative;
    display: grid;
    background-color: #eee;

    margin-bottom: 2vh;
  }

  .encounter__image--primary,
  .encounter__image--blurred {
    grid-area: 1/-1;
  }

  .encounter__image--primary {
    img {
      max-height: 50vh;
      display: block;
      margin: 0 auto;
    }
    z-index: 100;
  }

  .encounter__image--blurred {
    filter: blur(7px);
    background-size: cover;
    background-position: center;

    opacity: 0.7;
  }

  .encounter__description {
    margin-bottom: 2vh;
  }

  .encounter__outcomes {
  }

  .encounter__title {
    margin-bottom: 2vh;
    color: peachpuff;
    line-height: 4.5vh;

    text-align: center;
    margin: 3vh 2vw 2vh 2vw;
    padding: 1vw 7vw;
    font-size: 3.5rem;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .encounter__options {
    margin-top: 2vh;

    display: flex;
    flex-wrap: wrap;

    button {
      flex: 40%;
      padding-top: 2px;
      margin: 5px;
    }
  }

  .outcome {
    margin-bottom: 2vh;
  }
}

.encounterImage {
  opacity: 0;
}

.encounterImage-enter {
  opacity: 0;
}

.encounterImage-enter-active {
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 0.2s;
}

.encounterImage-enter-done {
  opacity: 1;
}

.encounterImage-exit-active {
  opacity: 0;
  transition: opacity 0.75s;
}
.encounterImage-exit-done {
  opacity: 0;
}

.encounterText {
}
.encounterText-enter {
  opacity: 0;
}
.encounterText-enter-active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.4s;
}

.encounterText-enter-done {
  opacity: 1;
}

.encounterText-enter-done-active {
}

.encounterText-exit-active {
  opacity: 0;
  transition: opacity 0.75s;
}
.encounterText-exit-done {
  opacity: 0;
}
