@import '../../styles/colors.scss';

.loaderText--fadeIn {
  opacity: 0.8;
  transition: opacity 1s ease-in;
}

.loaderText--fadeOut {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.loader__outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loader__inner {
  display: table-cell;
  vertical-align: middle;
}

.loader__content {
  height: 100px;
}

.loader__image {
  text-align: center;
  margin: 0 auto;
}

.loader,
.loader-appear,
.loader-enter {
  opacity: 0;

  .loader__image {
    opacity: 0;
  }
}

.loader-appear-active,
.loader-enter-active {
  opacity: 1;
  transition: opacity 2s;
  // transition-delay: 2s;

  .loader__image {
    opacity: 1;
    transition: opacity 2s;
    // transition-delay: 2s;
  }
}

.loader-appear-done,
.loader-enter-done {
  opacity: 1;
  .loader__image {
    opacity: 1;
  }
}

.loader-exit {
  opacity: 1;

  .loader__image {
    opacity: 1;
  }
}

.loader-exit-active {
  opacity: 0;
  transition: opacity 2s;

  .loader__image {
    opacity: 0;
    transition: opacity 2s;
  }
}

.loader-exit-done {
  opacity: 0;

  .loader__image {
    opacity: 0;
  }
}

.quote {
  text-align: center;
  margin: 0.5vh auto 0 auto;
  width: 70%;
}

.quoteFade,
.quoteFade-appear,
.quoteFade-enter {
  opacity: 0;
}

.quoteFade-appear-active,
.quoteFade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.quoteFade-appear-done,
.quoteFade-enter-done {
  opacity: 1;
}

.quoteFade-exit {
  opacity: 1;
}

.quoteFade-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}

.quoteFade-exit-done {
  opacity: 0;
}
