@import '../../styles/colors.scss';

.stats {
  border: 1px solid $stats-border;
  padding: 1vw;
}

h2 {
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
  color: white;
  font-size: 1.7vh;
}

progress {
  appearance: none;
  width: 100%;
}

progress::-webkit-progress-bar {
  background: $progress-bg-color;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background-color: $progress-main-color;
}

.showDamage-enter-active {
  animation: fadeBackground 0.6s ease-out;
}

.showDamage-enter-done {
  background: $progress-main-color;
}

@keyframes fadeBackground {
  from {
    background: $damage-color;
  }
  to {
    background: transparent;
  }
}
