.error__content {
  width: 70%;
  margin: 0 auto 10vh auto;

  &--title {
    margin-bottom: 1vh;
  }

  &--image {
    width: 70vw;
    height: auto;
  }

  &--text {
    margin-bottom: 2vh;
  }

  &--options {
    margin-top: 2vh;

    display: flex;
    flex-wrap: wrap;

    button {
      flex: 40%;
      margin: 5px;
    }
  }

  .tryAgain {
    border-color: #8c4c8b;
    color: #8c4c8b;

    &:hover {
      color: white;
      border-color: rgb(187, 187, 187);
    }
  }
}
