@import '../styles/colors.scss';

.error__content {
  margin-bottom: 10vh;

  &--title {
    margin-bottom: 1vh;
  }

  &--image {
    height: auto;
    width: 100%;
  }

  &--text {
    margin-bottom: 2vh;
  }

  &--options {
    margin-top: 2vh;

    display: flex;
    flex-wrap: wrap;

    button {
      flex: 40%;
      margin: 5px;
    }

    .cta {
      flex: 100%;
    }
  }

  .tryAgain {
    border-color: $progress-main-color;
    color: white;
    background-color: $link-base;
    opacity: 0.7;

    &:hover {
      background-color: $link-base;
      opacity: 1;
    }
  }
}
